{
  "ios": {
    "WorkTracker": {
      "provisioningProfilePath": "certs/WorkTracker.mobileprovision",
      "distributionCertificate": {
        "path": "certs/dist.p12",
        "password": "YOUR_DIST_CERT_PASSWORD"
      }
    },
    "WorkTrackerWidget": {
      "provisioningProfilePath": "certs/WorkTrackerWidget.mobileprovision",
      "distributionCertificate": {
        "path": "certs/dist.p12",
        "password": "YOUR_DIST_CERT_PASSWORD"
      }
    },
    "WorkTrackerLiveActivity": {
      "provisioningProfilePath": "certs/WorkTrackerLiveActivity.mobileprovision",
      "distributionCertificate": {
        "path": "certs/dist.p12",
        "password": "YOUR_DIST_CERT_PASSWORD"
      }
    }
  }
}
